@using Microsoft.AspNetCore.Identity
@using Bihasoto.EntityLayer.Concrete
@inject UserManager<AppUser> UserManager

@{
    var username = User.Identity.IsAuthenticated ? User.Identity.Name : "Misafir"; // Giriş yapmışsa kullanıcı adını al
}
<!doctype html>

<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bihasoto | Admin @ViewData["Title"]</title>
    <meta name="author" content="codepixer">
    <link rel="shortcut icon" href="~/favicon.ico">
    <link href="~/admin/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/admin/assets/css/auth.css" rel="stylesheet">
    <link href="~/admin/assets/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="~/admin/assets/vendor/fontawesome/css/solid.min.css" rel="stylesheet">
    <link href="~/admin/assets/vendor/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="~/admin/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/admin/assets/css/master.css" rel="stylesheet">
    <link href="~/admin/assets/vendor/flagiconcss/css/flag-icon.min.css" rel="stylesheet">
    @await RenderSectionAsync("Css",false)
</head>

<body>
    <div class="wrapper">
        <nav id="sidebar" class="active">
            <div class="sidebar-header">
                <img src="~/admin/assets/img/bootstraper-logo.png" alt="bootraper logo" class="app-logo">
            </div>
            <ul class="list-unstyled components text-secondary">
                <li>
                    <a asp-action="Index" asp-controller="Admin"><i class="fas fa-home"></i> Dashboard</a>
                </li>

                <li>
                    <a asp-action="Index" asp-controller="Register"><i class="fas fa-user"></i>Kullanıcı Ekle</a>
                </li>
                <li>
                    <a asp-action="Settings" asp-controller="Admin"><i class="fas fa-cog"></i>Ayarlar</a>
                </li>

            </ul>
        </nav>
        <div id="body" class="active">
            <!-- navbar navigation component -->
            <nav class="navbar navbar-expand-lg navbar-white bg-white">
                <button type="button" id="sidebarCollapse" class="btn btn-light">
                    <i class="fas fa-bars"></i><span></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ms-auto">
               
                        <li class="nav-item dropdown">
                            <div class="nav-dropdown">
                                <a href="#" id="nav2" class="nav-item nav-link dropdown-toggle text-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-user"></i> <span>@username</span> <i style="font-size: .8em;" class="fas fa-caret-down"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end nav-link-menu">
                                    <ul class="nav-list">
                                        <li><a href="" class="dropdown-item"><i class="fas fa-address-card"></i> Profile</a></li>
                                   
                                        <li><a asp-action="Index" asp-controller="Logout" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Çıkış Yap</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- end of navbar navigation -->
            <div class="content">
                <div class="container">
                    @RenderBody()

                </div>
            </div>
        </div>
    </div>
    <script src="~/admin/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/admin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/admin/assets/vendor/chartsjs/Chart.min.js"></script>
    <script src="~/admin/assets/js/dashboard-charts.js"></script>
    <script src="~/admin/assets/js/script.js"></script>
    @await RenderSectionAsync("Scripts", false)
</body>

</html>